p{
    text-align: center;
}

.titulo-principal{
padding-left: 30px;
}

body{
   
}

em strong{
    color: red;
}

.titulo-centralizado{
    text-align: center;
}

#mision{
    font-size: 20px;
}

#banner{
    width: 100%;
}

h2{
    text-align: center;
}
.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.items{
    font-style: italic;
}

.imagenDiferenciales{
    width: 50%;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}